<section class="section apps-section">
                <h2 class="section-title"><i class="fa fa-amazon"></i>Apps</h2>
                <div class="intro">
                    <p>Below are some of the apps i have created and published:</p>
                </div><!--//intro-->
               
                <div class="item">
                    <span class="app-title"><a href="https://goo.gl/tA1d2f" target="_blank">PendoCalc</a></span> - 
                    <span class="app-tagline">A simple Love Calculator app that lets you calculate love compatibility and your chances of a successful relationship. Download it <a href="https://goo.gl/zFcK9c" target="_blank">here</a>.</span>
                </div><!--//item-->      
                
                <div class="item">
                    <span class="app-title"><a href="https://goo.gl/NFBYro" target="_blank">Sinfilm</a></span> - 
                    <span class="app-tagline">A movie review app that helps you find top movies through browsing through the most popular movies right now or Highest Rated movies or NowPlaying movies or Upcoming movies according to TMDB.org. Download it <a href="https://goo.gl/JYSKZT" target="_blank">here</a>.</span>
                </div><!--//item-->  
                
                
            </section><!--//section-->
