<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>My Profile</h2>
<div class="summary">
    <p>
    	I am Moses Mwai, a kenyan national with a passion of anything technology related. 
        I love working with open source software and using it to try and solve challenges that face us each and every day.
    </p> 
    <p>
        People find me upbeat,self-motivated team player with excellent communication skills.        
        I have recently completed a Bachelor of Science degree in Microprocessor Technology and Instrumentation 
        specializing in Telecommunications,at the University of Nairobi.
    </p>
    
    <p>
    
    </p>


I am <a href="https://www.youracclaim.com/badges/ccf97a86-c731-439d-ab97-be41e205d207/public_url">
            <b>CCNA Cyber Ops Certified</b>
       </a>.<br/>
I am a <b> Certified Cisco Network Associate</b><br/>
I am also a <b>Certified Ascent Leader</b>   
    </p>
    
    <p>
        <b>Fork me on github to see the projects that am currently working on.</b>
    </p>
</div><!--//summary-->
</section><!--//section-->
