<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>My Profile</h2>
<div class="summary">
    <p>
    	I am Moses Mwai, a kenyan national with a passion of anything
technology related. I love working with open source software and using it to try and solve challenges that face us each and every day.People find me upbeat,self-motivated team player with excellent communication skills.
I have recently completed a Bachelor of Science degree in Microprocessor Technology and Instrumentation specializing in Telecommunications, at the University of Nairobi.I am currently undertaking a <b>CCNA Global Cyber Ops Cerification</b>.<b>I am also a Cisco Certified Network Associate and an Ascent Certified Leader.</b>
<b>Fork me on github to see the projects that am currently working on.</b>
    </p>
</div><!--//summary-->
</section><!--//section-->
