 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">BSc Microprocessor Technology and Instrumentation</h4>
    <h5 class="meta">University of Nairobi</h5>
    <div class="time">2014 - Present</div>
</div><!--//item-->

<div class="item">
    <h4 class="degree">CCNA-(Routing and Switching) certificates</h4>
    <h5 class="meta">Kenyatta University</h5>
    <div class="time">2013</div>
</div><!--//item-->

<div class="item">
    <h4 class="degree">K.C.S.E certificate</h4>
    <h5 class="meta">UpperHill Secondary School Nairobi</h5>
    <div class="time">2009 - 2012</div>
</div><!--//item-->


</div><!--//education-container-->