<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Web Developer</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Quickbyte Technologies</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>Responsibilities</b></p> 
                        <ol>
                          <li>
                              To design, code and modify websites, from layout to function and according to a client's specifications
                          </li>
                            <li>
                                To understand and be able to talk about and explain to my team the importance of principles of good software design and development
                            </li>                           
                            <li>
                                To Develop databases that support web applications and web sites
                            </li>
                            <li>
                                Write, design, or edit web page content, or direct others producing content
                            </li>
                            <li>
                              Evaluate or recommend server hardware or software
                           </li>
                          <li>
                            Analyze user needs to determine technical requirements.
                          </li>
                            <li>
                                To act as example to all the developers on my team by advocating learning and taking the time to do so myself
                            </li>
                        </ol>          
                            
                        
                    </div><!--//details-->
                </div><!--//item-->
                       
                
            </section><!--//section-->
