<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Lead Developer</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Quickbyte Technologies</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p><b>Responsibilities</b></p> 
                        <ol>
                            <li>
                                To understand and be able to talk about and explain to my team the importance of principles of good software design and development
                            </li>
                            <li>
                                To ensure the features developed by my team are produced to the highest possible quality in the fastest possible time and no less
                            </li>
                            <li>
                                To show the developers on my team better ways of doing things and help them improve their skills
                            </li>
                            <li>
                                To act as example to all the developers on my team by advocating learning and taking the time to do so myself
                            </li>
                        </ol>          
                            
                        
                    </div><!--//details-->
                </div><!--//item-->
                       
                
            </section><!--//section-->