<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>Below are some of the open source projects that am currently and actively working on in my free time.</p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/muraguri64/Laravel_blog">Laravel_blog</a></span> - <span class="project-tagline">A simple blog management sysytem built using laravel framework that helps non-technical users manage their blog easily.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/muraguri64/Mapenzi-Calc" target="_blank">Mapenzi Calc</a></span> - 
                    <span class="project-tagline">A simple Love Calculator app that lets you calculate love compatibility and your chances of a successful relationship.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/muraguri64/IonReddit" target="_blank">IonReddit</a></span> - <span class="project-tagline">A simple reddit aggregation app that uses the subreddit api to fetch a list of posts depending on the category a user chooses.</span>
                </div><!--//item-->
  
                <div class="item">
                    <span class="project-title"><a href="https://github.com/muraguri64/accordion_react_native" target="_blank">Accordion React Native</a></span> - 
                    <span class="project-tagline">A react native app for a displaying list of items in an accordion fashion</span>
                </div><!--//item-->
                
                <div class="item">
                   <span class="project-title"><a href="https://github.com/muraguri64/Tcp_Socket_Program" target="_blank">TCP Socket Program</a></span> - 
                   <span class="project-tagline">A sockets program in c for performing uppercase and count operations on a string and also calculating tax of an integer</span>
                </div><!--//item-->
  
                <div class="item">
                    <span class="project-title"><a href="https://github.com/muraguri64/auth" target="_blank">Auth</a></span> - 
                    <span class="project-tagline">Authentication App using react-native and firebase</span>
                </div><!--//item-->
                
            </section><!--//section-->
